bracelet-list {
  .card {
    @include card();
    @include card-hover();
    margin-bottom: 30px;
    height: 200px;

    &:hover {

      .card-title {
        font-weight: bold;
        text-decoration: none;
      }
    }

    a:hover {
      font-weight: bold;
      text-decoration: none;
    }

    .icon {
      font-size: 150%;
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
    }

    .icon:first-child {
       padding: 0 10px 0 0;
    }

    preview_bracelet {
      height: 175px;
      display: block;
      position: relative;
      overflow: hidden;
    }

    .preview-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card-title,.card-details {
      color: $text;
      margin: 0;
    }

  }
}
