bracelet-detail {

  preview_bracelet {
    display: block;
  }

  bracelet {
    margin: 2*$padding 0;
  }

  .details {
    @include card();
    margin: ($padding) (-$padding);
  }

  .author {
    @include card();
    margin-bottom: $padding;

    a {
      color: $text;
    }
    &:hover {
      text-decoration: underline;
    }

    .icon span {
      font-size: 40px;
      padding: 20px;
      display: inline-block;
      background-color: transparentize($text, 0.75);
      border-radius: 50%;
    }

    .username-container {
      p {
        margin: 10px 0;
      }

      .username {
        font-size: 120%;
        font-weight: bold;
      }
    }
  }
}
