*, input, select {
  font-family: $baseFont;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headingFont;
}

body {
  background-color: $almostWhite;
}

.btn {
  border: 0;
}

.btn-primary {
  background-color: $primary;
}


@media (min-width: 35.5em) {
}

@media (min-width: 48em) {
}

@media (min-width: 64em) {
}

@media (min-width: 80em) {
}
