*, input, select {
  font-family: $baseFont;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headingFont;
}

body {
  background-color: $almostWhite;
}

.btn {
  border: 0;
}

.btn-primary {
  background-color: $primary;
}

pagination ul.pagination {
  display: block;
  text-align: center;

  li {
    display: inline-block;
  }

  li a {
    border:0;
    border-radius: $borderRadius;
    margin: $padding;
    color: $primary;
  }

  li.active a {
    background-color: $primary-accent;
    &:hover, &:active, &:focus {
      background-color: $primary-accent-hover;
    }
  }
}

.icon {
  font-size: 150%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

@media (min-width: 35.5em) {
}

@media (min-width: 48em) {
}

@media (min-width: 64em) {
}

@media (min-width: 80em) {
}
