@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin sr-only-focusable {
  &:active, &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

@mixin card {
  position: relative;

  .card-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $gray;
    box-shadow: 2px 2px 3px $gray;
    border-radius: $borderRadius;
    padding: $padding;
    background-color: white;
    transition: top 100ms ease-in, bottom 100ms ease-in, left 100ms ease-in, right 100ms ease-in;

    .card-title, .card-details {
      opacity: 0;
      transition-delay: 50ms;
      transition: opacity 100ms ease-in, transform 100ms ease-in;
    }

    .card-title {
      transform: translateY(50px);
    }

    .card-details {
      transform: translateY(-50px);
    }

    .card-content {
      margin-top: -20px;
      transition: margin-top 100ms ease-in;
    }
  }

  .card-container:hover {
    top: -20px;
    bottom: -50px;
    left: -10px;
    right: -10px;
    border: 1px solid $darkGray;
    box-shadow: 1px 1px 10px $darkGray;
    z-index: 10;

    .card-title,.card-details {
      opacity: 1;
      transform: translateY(0);
    }

    .card-content {
      margin-top: 0;
    }
  }


}
