$column-width: 20px;

preview_bracelet {
  position: relative;
  overflow: hidden;
  margin-bottom: $padding;

  .preview-container {
    white-space: nowrap;
    overflow: hidden;
    margin: (0) (-$padding);
  }

  .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 2;
    box-shadow: 0 0 8px 4px white;

    &.shadow--before {
      left: 0;
      right: auto;
    }

    &.shadow--after {
      right: 0;
      left: auto;
    }
  }

  .bracelet__row {
    display: inline-block;

    node > div .node {
      width: $column-width;
      height: $column-width * 0.8;
      border-radius: 50%;
    }

    .node-type-phantom {
      display: none;
    }

  }

  .standard {
    .bracelet__row {
      margin-right: -2px;

      node > div .node {
        margin-bottom: 4px;
      }
    }
    .bracelet__row.odd {
      padding-bottom: $column-width * 0.4 + 2px;
    }
  }

  .text {

  }
}
