$primary: #163860;
$primary-accent: #5bc0de;
$primary-shadow: #405C7C;

$primary-accent-hover: darken($primary-accent, 10%);

$almostWhite: #f4f4f4;
$gray: #e0e0e2;
$darkGray: #c4c4c4;
$text : #555;

$error: #ef626c;
$success: #81d2c7;


$padding: 15px;
$borderRadius : 3px;

$headingFont : 'Proza Libre', sans-serif;
$baseFont : 'Open Sans', sans;

$font-size-bigger : 18px;