$gray : #dedede;
$darkGray: #c4c4c4;
$baseColor : #555;
$blue: #163860;
$almostWhite: #f4f4f4;

$padding: 15px;
$borderRadius : 3px;

$headingFont : 'Proza Libre', sans-serif;
$baseFont : 'Open Sans', sans;

$font-size-bigger : 18px;